/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Reset CSS */
a { text-decoration: none; }
h1,h2,h3,h4,h5,h6 { margin: 0; }
button { cursor: pointer; outline: none; }

.login-form {
  width: 600px;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 20px #eee;
}
.login-form h2 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 28px;
}
.sns-login {
  margin: 20px 0;
  display: flex;
}
.btn {
  flex: 1;
  /* margin: 3px; */
  margin-right: 3px;
  padding: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border-radius: 3px;
  color: #fff;
  padding: 8px;
}
.btn:last-child {
  margin-right: 0;
}
.btn.facebook {
  background-color: #1877F2;
}
.btn.twitter {
  background-color: #1DA1F2;
}
.btn.google {
  background-color: #CD201F;
}
.field {
  display: flex;
  margin: 20px 0;
}
.field label {
  /* display: inline-block;
  width: 120px; */
  flex: 1;
  text-transform: capitalize;
  font-size: 14px;
}
.field input {
  flex: 4;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  outline: none;
}
.btn-login {
  padding: 5px 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border-radius: 3px;
  color: #fff;
  background-color: #ffb142;
  float: right;
}

@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
  .sns-login {
    flex-direction: column;
  }
  .btn {
    margin: 5px 0;
  }
  .field {
    flex-direction: column;
  }
  .btn-login {
    width: 100%;
  }
}